.container{
    display:grid;
    grid-template-areas: 
    "a a"
    "b b"
    "d c"
    "d c"
    "e e";
    grid-template-columns:80% 20%;
    grid-template-columns
}
.logo{
    display:flex;
    grid-area: a;
}
.name{
    float: right;
}

.header{
    grid-area: b;
    background-image:url("images/holdingFlag.jpg");
    background-size:100%;
}

.article{
    grid-area: c;
    border: 2px solid black;
    padding:20px;
    font-family:'abel', sans-serif;
}

.mainContent{
   grid-area: d;
   height:700px;
}

.footer{
    grid-area: e;
    background:black;
    height:100px;
}

h1{
    font-family:'abel', sans-serif;
    font-size:50px;

}

h2{
    font-family:'abel', sans-serif;
    font-size: 200px;
    color:white;
}

.image{
    width: 100%;
}

h3{
    text-align:center;
}

.navBar{
    margin-top:30px;
}

a{
    font-family:'abel', sans-serif;
    font-size: 30px;
    color:white;
    text-decoration:none;
    padding:25px;
}

a:hover{
    text-decoration:overline;
}